<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.geometerplus.android.fbserver" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<application android:label="FBServer">
		<activity android:name=".FBServerActivity" android:label="FBServer" android:launchMode="singleInstance" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name=".FBServerService" android:launchMode="singleTask"/>

	</application>
	<uses-sdk android:minSdkVersion="7"/>

</manifest>
